body{
  background-color: rgb(4, 0, 8);
  display: flex;
  justify-content: space-around;
}

h1,p,span{
  color: azure;
}

.indi-movies{
  display: flex;
  flex-wrap: wrap;
}

.movie-container .movie-img{
  position: relative;
  z-index: -1;
}

.overview{
  position: absolute;
  overflow: hidden;
}