 
 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

 .modal {
    position: fixed; /* Stay in place */
    z-index: 1; 
    left: 0;
    top: 0;
    right:0;
    margin:auto;
    bottom: 0;
    max-width: 100%; 
    max-height: 100%; 
    overflow:auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  }  
  
  .no-modal{
    display: none;
  }

  .modal-main h3{
    font-family: 'Bebas Neue', cursive;
    font-size: xx-large;
  }
  .modal-main {
    background-color: #201729;
    margin: 10vh auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    max-width: 100%; /* Could be more or less, depending on screen size */
  }
  

.watchlist-movies{
   margin: 4% 10%;
   display:flex;
   flex-wrap: wrap;
   justify-content:flex-start;
}

.watchlist-img{
    max-width:200px;
    height:250px;
    padding: 4px;
}
  
  .display-none {
    display: none;
  }


  .delete{
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: xx-large;
    z-index: 1;
    color: white;
    font-weight: bolder;
    background-color:#eb0808 ;
    }

    .delete-movie{
      position: absolute;
      padding:5px;
      margin:0;
      cursor:pointer;
      z-index:1;
      color:white;
      font-weight: bolder;
      background-color:#eb0808 ;
    }