 
 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

 .modal {
    position: absolute;
    /* text-align: center; */
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    margin:auto;
    z-index: 1;
   max-height: 90%;
   max-width: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    box-shadow: 3px 5px 7px rgba(255, 255, 255, 0.5);
  }  
  
  .modal-main {
    position:relative;
    background:#000000;
    color: rgb(240, 239, 241);
    left:50%;
    top:50%;
    z-index: 1;
    overflow: auto;
    
    border: 3px solid rgb(36, 6, 77);
    transform: translate(-50%,-50%);
    max-height: 100%;
    max-width: 100%;
  }
  
  .modal-main h3{
    font-family: 'Bebas Neue', cursive;
    font-size: xx-large;
  }
  

  .watchlist-movies{
   margin: 4%;
   display:flex;
   flex-wrap: wrap;
   position: relative;
}

.watchlist-img{
    max-width:200px;
    height:250px;
    padding: 4px;
}
  
  .display-none {
    display: none;
  }


  .delete{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 1;
    color: white;
    font-weight: bolder;
    background-color:#eb0808 ;
    }